@mixin uiframe-border ($bg-color, $bd-color) {
  background-color: $bg-color; /* make top border more clear*/
  border-width: 10px 3px 3px 3px;
  border-style: double solid solid solid;
  border-color: $bd-color;
}

@mixin fillout(){
  width: 100%;
  height: 100%;
}

html {
  @include fillout();

}

body {
  background-color: #696969;
  margin: 0;
  padding: 0;
  font-size: 12px;
  @include fillout();
}

.template {
  display: none;
}

.main-container {
  position: relative;
  @include fillout();
}

.menu {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 360px;
  height: 260px;
  @include uiframe-border (#FF6347,#000);
  line-height: 1px;
  z-index: 1;
}

.menu-inputs {
  text-align: center;
}

.menu-container {
  @include fillout();
  background-color: #FFC0CB;
}

.player {
  @include uiframe-border (#00CD66,#000);
  position: absolute;
  /* hard-coded now, these will be customized by user */
  width: 640px;
  height: 360px;
  z-index: 2;
  left: 10px;
  top: 10px;
}

.top {
  z-index: 10;
}


.embed {
  @include fillout();
}