
@mixin fillout(){
  width: 100%;
  height: 100%;
}


html {
  @include fillout();

}
body {
  background-color: #696969;
  margin: 0;
  padding: 0;
  @include fillout();
}

.template {
  display: none;
}

.embed {
  position: absolute;
  @include fillout();
}

.player-container {
  position: relative;
  @include fillout();
}

.stream {
  @extend .embed;
  z-index: 1;
}

.stream-barrier {
  @extend .embed;
  z-index: 2;
}

@mixin uiframe-border ($bg-color, $bd-color) {
  background-color: $bg-color; /* make top border more clear*/
  border-width: 10px 3px 3px 3px;
  border-style: double solid solid solid;
  border-color: $bd-color;
}

.chat {
  position: absolute;
  right: 3px;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s;
  @include uiframe-border(#87CEEB, #000);
}


.chat-barrier {
  @extend .embed;
  z-index: 4;
}


